h3, p {
    padding: 0;
    margin: 0;
}

.accordion {
  width: 65%;
  margin: 2rem auto;
}

.accordion-item {
  border-bottom: 1px solid grey;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  /* background-color: grey; */
}

.active {
  font-size: 25px;
  color: red;
}

.accordion-title:hover {
  color: red;
}

.accordion-title, .accordion-content {
  padding: 1rem;
}

.accordion-content {
  /* background-color: grey; */
}
