h3, p {
    padding: 0;
    margin: 0;
}

.accordion {
  /* max-width: 600px; */
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: grey;
}

.accordion-title:hover {
  background-color: grey;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: grey;
}
