.header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  background-color: #88b444;
  padding: 10px 25px;
}

.brand {
  margin: 0;
  color: midnightblue;
  text-align: left;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  transition: 0.5s;
  padding-left: 0;
  margin: 0;
}

.sidenav li {
  list-style: none;
}

.sidenav li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: grey;
  display: block;
  transition: 0.3s;
  text-align: right;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.openbtn {
  font-size: 25px;
  font-weight: 600;
  float: right;
}

.closebtn {
  font-size: 35px;
  float: left;
  border: none;
  background-color: white;
}



/* a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 700;
}

a:hover {
  opacity: 0.7;
}

.nav-links { */
  /* padding: 0; */
  /* margin: 0;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 10px;
}

@media only screen and (min-device-width: 768px) {
  .nav-links li {
    margin-right: 30px;
  }
  a {
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 376px) {
  .brand {
    position: absolute;
    font-size: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .header {
    flex-direction: column;
    flex-wrap: wrap;
  } */
/* }  */
