html {
  background-color: #f6f6e0;
}

html, body, #root, .appContainer {
  height: 100%;
  width: 100%;
}

.customer, .cart, .faqContainer, .deliveryContainer {
  /* height: 78%; */
  min-height: 78vh;
  margin: 0 10px;
} 

.btn {
  margin-bottom: 15px;
  padding: 5px 15px;
  cursor: pointer;
  background-color: #ffc6af;
  font-weight: 500;
  border: 1px solid black;
}

h1 {
  color: #5e81d1;
  text-align: center;
  margin-top: 40px;
}

.instructions {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  color: #5e81d1;
  text-align: center;
}